.profile {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 1rem;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.2);
}
.buttons {
  display: flex;
  width: 70%;
  margin: 1rem auto;
  margin-bottom: 10%;
}

.buttonActive {
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-bottom: 2px solid #d25fb5
}
.buttons p {
  margin:0;
}
.buttonUnactive {
  color: rgb(255, 255, 255, 0.6);
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  transition: ease-in-out 0.2s;
}
.buttonUnactive:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 960px) {
  .profile {
    width: 80%
  }
}

@media (max-width: 500px) {
  .profile {
    width:100%;
  }
  .buttons {
    flex-direction: column;
  }
}
